
@mixin clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.main {

	.header,
	.footer,
	.section {
		display: block;
		background-color: #fff;
		border-top: 1px solid #ededed;
	}

	.section_strip {
		background-color: #f5f5f5;
	}

	.center {
		width: 1120px;
		margin: 0 auto;
		padding: 0 40px;
	}


	/* Header */

	.header {
		line-height: 80px;

		&:before,
		&:after {
			content: ' ';
			display: table;
		}

		&:after {
			clear: both;
		}

		&__phone-number {
			font-weight: 500;
			color: #212121;
		}

		&__menu {
			margin-bottom: -1px;
			float: right;

			& > a {
				display: inline-block;
				margin-left: 16px;
				padding: 0 16px;
				cursor: pointer;

				color: inherit;
				font-size: inherit;
				line-height: inherit;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom: 1px solid #00a885;
					margin-bottom: -1px;
				}
			}
		}
		
	}	

	
	/* Search content */

	.cover {
		width: 752px;
		margin: 0 auto;
		padding: 120px 0 48px;

		&__title {
			margin: 0 0 40px;
			text-align: center;
		}

		&__subtitle {
			margin: 0 0 48px;
			font-size: 18px;
			font-weight: 100;
			color: #999;
			text-align: center;
		}
	}

	.search {
		width: 640px;
		margin: 0 auto;

		-webkit-transition: width 350ms ease-in;
				transition: width 350ms ease-in;

		&__input {
			position: relative;
			width: 100%;
			height: 56px;
			padding: 0 40px;

			background-color: #fff;
			border: none;

			-webkit-box-shadow: 0 3px 35px rgba(0, 0, 51, .1) !important;
					box-shadow: 0 3px 35px rgba(0, 0, 51, .1) !important;

			z-index: 11;
		}

		&__more {
			height: 24px;
			margin-top: 40px;
			text-align: center;

			-webkit-transition: all 350ms ease-in;
					transition: all 350ms ease-in;
		}

		&__options {
			margin-top: -48px;
			opacity: 0;
			
			-webkit-transition: all 350ms ease-in;
					transition: all 350ms ease-in;

			&:before,
			&:after {
				content: ' ';
				display: table;
			}

			&:after {
				clear: both;
			}

			& > * {
				width: 50%;
				float: left;
			}
		}

		&_full {
			width: 100%;

			.search__options {
				margin-top: 32px;
				opacity: 1;
			}

			.search__more {
				height: 0;
				margin-top: 0;
				opacity: 0;
			}
		}
	}


	/* Footer */

	.footer {
		padding: 24px 0;
		text-align: center;

		&__menu {
			display: inline-block;
			margin: 8px 0;

			&:after {
				content: ' ';
				display: table;
				clear: both;
			}

			& > a {
				display: inline-block;
				margin: 0 20px;
				float: left;
			}
		}

		&__author {
			display: block;
			margin: 56px 0 0;
			padding: 0;
			border: none !important;
			font-size: 14px;
			color: #999;
		}
	}


	/* Categories */

	.categories {
		width: 752px;
		margin: 0 auto;
		padding: 40px 0;

		&__title {
			margin: 16px 0 16px;
			color: #555;
			text-align: center;
		}

		&__subtitle {
			margin: 0 0 24px;
			font-weight: 100;
			color: #727272;
			text-align: center;
		}

		&__list {
			&:before,
			&:after {
				content: ' ';
				display: table;
			}

			&:after {
				clear: both;
			}
		}

		&__item {
			width: 25%;
			padding: 14px;
			float: left;
		}
	}

	.category-item {
		position: relative;
		width: 100%;
		overflow: hidden;
		cursor: pointer;

		border: 2px solid #ededed;

		-webkit-transition: all 350ms ease-in;
				transition: all 350ms ease-in;

		&:hover {
			border-color: #00a885;

			-webkit-box-shadow: 0 3px 30px rgba(0, 0, 51, .1);
					box-shadow: 0 3px 30px rgba(0, 0, 51, .1);
		}

		&:after {
			content: ' ';
			padding-top: 100%;
			float: left;
		}

		&:before {
			content: ' ';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;

			background-image: linear-gradient(165deg, rgba(0, 0, 0, .34), rgba(0, 0, 0, .16), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
		}

		&__img-wrapper {
			width: 100%;
			height: 100%;
		}

		&__title {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			padding: 14px;
			z-index: 2;

			color: #fff;
		}
	}


	/* Products */

	.products {
		width: 752px;
		margin: 0 auto;
		padding: 40px 0 40px;

		&__list {
			margin-bottom: -8px;
		}

		&__item {
			margin-bottom: 8px
		}
	}

	.product-item {
		padding: 16px;
		background-color: transparent;

		-webkit-transition: all 200ms ease-in;
				transition: all 200ms ease-in;

		&:hover {
			background-color: #fff;
			cursor: pointer;

			-webkit-box-shadow: 0 3px 30px rgba(0, 0, 51, .1);
					box-shadow: 0 3px 30px rgba(0, 0, 51, .1);

			&:hover .product-item__img {
				border-color: #00a885;
			}
		}

		&:before,
		&:after {
			content: ' ';
			display: table;
		}

		&:after {
			clear: both;
		}

		&__img-wrapper {
			display: block;
			width: 160px;
			height: 160px;
			margin-right: 40px;
			float: left;

			background-color: #fff;
			border: 2px solid #ededed;

			-webkit-transition: border-color 200ms ease-in;
					transition: border-color 200ms ease-in;
		}

		&__content {
			width: 520px;
			float: left;
		}

		&__title {
			margin: -3px 0 16px;
		}

		&__desc {
			margin: 0 0 32px;
			font-size: 14px;
			color: #999;
		}

		&__price {
			margin: 0;
			font-weight: 100;
			color: #212121;

			& > span {
				font-size: 36px;
				color: #00a885;
			}
		}
	}
}

/* About us */

.about-us {

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}

	&__logo {
		width: 320px;
		margin: 0 64px 40px 0;
		float: left
	}

	&__desc {

	}
}

.counter {
	text-align: center;

	&__title {
		color: #00a885;
		font-size: 60px;
		font-weight: 100;
		line-height: 1;
	}

	&__subtitle {
		margin-top: 8px
	}
}